{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

<div id="welcome">
<div>
    Welcome to the F1 Championship Predictor!
    This website allows you to input what position you believe each driver will arrive in each of the remaining races in the current F1 Season. It then provides you with the respective final standings (consequentially the Champion for that season).
</div>
<br>
<div>
    First, the website provides you with the current Championship standings. Then, alongside a concise version of the current standings, boxes where you provide the actual predictions for each races. The final page exhibits a table with the Championship standings resulting from your predictions.
</div>
<br>
    <a href=/standings>Click here to begin</a>
</div>


{% endblock %}
